.main{
  article{
    .text{
      position: relative;
      &:after {
      	border: solid transparent;
      	content: "";
      	height: 0;
      	width: 0;
      	position: absolute;
      	pointer-events: none;
      	border-width: 20px;
        bottom: 100%;
        left: 8%;
        border-bottom-color: #ffffff;
      }
    }
    .image{
      height: 250px;
    }
    @include breakpoint(tablet) {
      &.span_12{
        .image{
          height: 350px;
        }
        .text{
            &:after{
              right: 100%;
              top: 8%;
              left: inherit;
              border-color: rgba(255, 255, 255, 0);
              border-right-color: #ffffff;
              border-bottom-color: transparent;
            }
          }
        }
    }
    &.span_6{
      width: 100%;
      margin-top: 5px;
      @include breakpoint(tablet) {
        width: 48.2%;
        margin-top: 0;
      }
    }
  }
  .voir-plus{
    padding: 30px;
    width: 100%;
    text-align:center;
    @include breakpoint(tablet) {
      padding: 0;
      margin-top: 60px;
    }
  }
}
