.rechercher{
  background-color: $earth;
  text-align: center;
  padding: 30px;
  h3{
    padding-bottom: 30px;
  }
  form{
    margin: 0 auto;
    position: relative;
    input[type="text"]{
      width: 80%;
      height: 45px;
      border: 2px solid $dark-peach;
      border-right: 0;
      color: $charcoal-grey;
      padding: 5px;
      &::placeholder{
        font-style: italic;
      }
      @include breakpoint(tablet) {
        width: 90%;
        border-right: 2px solid $dark-peach;
      }
    }
    button{
      width: 19%;
      height: 45px;
      margin-left: -5px;
      border: 2px solid $dark-peach;
      border-left: 0;
      background-color: white;
      color: $charcoal-grey;
      @include breakpoint(tablet) {
        width: 9%;
      }
    }
    #advenced-research{
      font-size: 16px;
      color: $white-three;
      position: absolute;
      width: inherit;
      line-height: 45px;
      display: none;
      @include breakpoint(tablet) {

      }
    }
  }
}
